<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

	<targets>

		<!-- NLOG JSON -->
		<target xsi:type="File"
				name="nlogFile"
				fileName="logs/worker-${shortdate}.json"
				keepFileOpen="false"
				concurrentWrites="true">

			<layout xsi:type="JsonLayout"
					includeAllProperties="false">

				<attribute name="timestamp" layout="${longdate}" />
				<attribute name="level" layout="${level}" />
				<attribute name="logger" layout="${logger}" />
				<attribute name="message" layout="${message}" />
				<attribute name="exception" layout="${exception:format=tostring}" />

			</layout>

		</target>

		<!-- PYTHON SIMULATION JSON -->
		<target xsi:type="File"
				name="pythonFile"
				fileName="logs/python_format-${shortdate}.json"
				keepFileOpen="false"
				concurrentWrites="true">

			<layout xsi:type="JsonLayout"
					includeAllProperties="false">

				<attribute name="timestamp" layout="${longdate}" />
				<attribute name="level" layout="${level}" />
				<attribute name="logger" layout="${logger}" />
				<attribute name="message" layout="${message}" />
				<attribute name="exception" layout="${exception:format=tostring}" />

			</layout>

		</target>

		<!-- Console -->
		<target xsi:type="Console"
				name="logconsole"
				layout="${longdate}|${level}|${logger}|${message} ${exception:format=tostring}" />

	</targets>

	<rules>

		<rule name="*" minlevel="Trace"
			  writeTo="nlogFile,pythonFile,logconsole" />

	</rules>

</nlog>